<section class="row text-center home">
  <section class="col">
    <%= image_tag 'logo.png', alt: 'Logo Elephant RH' %>
  </section>

  <section class="col">
    <p class="title">
      Seja bem vindo(a) ao sistema <b>Elephant RH</b>!
    </p>

    <br />

    <p>
      Aqui você vai conseguir realizar o monitoramento de clientes e/ou candidatos,
      o controle dos mesmos, adicionar formulários e imprimir em PDF, entre outras funcionalidades...
    </p>

    <br />

    <p>
      Para realizar o cadastro de um candidato
    </p>

    <%= link_to 'Clique Aqui', patient_new_path, class: 'btn btn-info' %>
  </section>
</section>
