/*
 *= require font-awesome
 *= require_tree .
 */
 @import "bootstrap";
 @import "devise/session";
 @import "devise/registration";
 @import "shared/_navbar";
 @import "shared/_footer";
 @import "home";
 @import "calendar";
 @import "patients";

 @import 'morrisjs-rails';

 .alert {
   z-index: 9999;
   width: 100%;
   opacity: 0.6;
   cursor: pointer;
 }

 .container {
   margin-top: 50px;
 }

 a {
 	font-size: 1.2em;
    background: none!important;
 }

 .btn {
 	color: rgba(10,10,10,0.6)!important;
 	background: none;
 }

 .btn:hover {
 	color: blue!important;
 	background:none;
 }

 p {
 	font-size: 1em;
 }


.pagination {
  a, span {
    padding: 0px 10px;
  }

  span, em {
  	padding-top: 2px;
  }
}